.MuiToolbar-root {
    margin: 0 10px 0 20px;
    text-decoration: none;
    color: #fff !important;
    background-color: aqua;
}
label.MuiFormLabel-root.formLabel {
    padding: 10px 0 !important;
}
.appbar-contact a.active:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.active {
    color: orange;
}
.toolbar{
    width: 100%;
}
.container-search{
    width: 30%;
    float: right;
    margin: 0 0 0 50px;
}


.a {
    color: #fff;
}
.underline {
    border-bottom-width: 2px;
    text-decoration: underline;
    color: red;
}
.underline:active {
    border-bottom-width: 2px;
    text-decoration: underline;
    color: #fff;
}

.a:active {
    border-bottom-width: 2px;
    text-decoration: underline;
    color: red;
}
.span {
    margin: 0 0 0 10px;
    color: #6D6B6B !important;
}
.headerTitle {
    min-width: 59px;
    max-width: 59px;
    word-wrap: break-word;
    background-color: #f8f8f8;
    line-height: 1rem;
    font-size: 10px;
    text-align: center;
    margin: 10px 2px 2px 2px;
    position: sticky;
  
    padding: 10px 3px;
  }