.container-login {
    width: 600px ;
    height: 450px;
    text-align: center;
    margin: 0 auto;
    padding-top: 75px;
}

.container-login-left {
    width: 300px;
    height: 450px;
    float: left;
    background: #05466A;
}

.logo-contact {
    width: 300px;
    height: 450px;
    background: url(../../Assets/background/logo-contact.png);
}

.container-login-right {
    float: left;
    width: 300px;
    height: 450px;
    color: #fff;
    background-color: #EAE7E7;
    text-align: center ;
    margin: 0 auto ;
}

.box-login {
    width: 100%;
    text-align: center ;
    margin: 0 auto ;
}

.box-login .typography {
    text-align: center;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 59px;
    color: #000000;
}

.textfield {
    width: 250px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #BCBCBC;
    border-radius: 10px;
    margin-top: 20px !important;
margin: 0 auto;
text-align: center;   
}

.textfield-name input::placeholder {
    font-size: 12px;
    color: #fff;
}
.textfield-password input::placeholder {
    font-size: 12px;
    color: #fff;
}

.textfield-name Input {
    font-size: 12px;
    color: #fff;
}
.textfield-name .MuiFilledInput-inputAdornedStart.Mui-focused {
    background-color: brown
}

.textfield::afters {
    background-color: brown;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    height: 2px;
  border: none;
  -webkit-text-fill-color: none;
  transition: background-color 5000s ease-in-out 0s;
}
.input-props {
    color: #fff !important;
}

.btn-login {
    width: 40%;
    height: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #E94560 !important;
    border-radius: 10px;
    margin: 30px 5px !important;
    color: #fff !important;
}

.btn-register {
    width: 80%;
    height: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #E94560 !important;
    border-radius: 10px;
    color: #fff !important;
    margin: 20px 5px !important;
}