.container-login {
    width: 600px;
    height: 350px;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
}

.container-login-left {
    width: 250px;
    height: 350px;
    float: left;
    background: #05466A;
}

.logo-contact {
    width: 225px;
    height: 300px;
    background: url(../../Assets/background/logo-contact.png);
}

.container-login-right {
    float: left;
    width: 50%;
    height: 350px;
    text-align: center;
    color: #fff;
    margin: 0 auto;
    background-color: #EAE7E7;
}

.box-login {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    margin-top: 20px;
}

.box-login .typography {
    text-align: center;
    margin: 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 59px;
    color: #000000;
}

.textfield {
    width: 200px;
    height: 40px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #BCBCBC;
    border-radius: 10px;
    margin: 10px 0 !important;
   
}

.textfield-name {
    font-size: 9px;
    color: #fff;
}

.textfield-name .MuiFilledInput-inputAdornedStart.Mui-focused {
    background-color: brown
}

.textfield::afters {
    background-color: brown;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    height: 2px;
  border: none;
  -webkit-text-fill-color: none;
  transition: background-color 5000s ease-in-out 0s;
}
.input-props {
    color: #fff !important;
}

.btn-login {
    width: 40%;
    height: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #E94560 !important;
    border-radius: 10px;
    margin: 20px 5px !important;
    color: #fff !important;
}

.btn-register {
    width: 80%;
    height: 36px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #E94560 !important;
    border-radius: 10px;
    color: #fff !important;
    margin: 20px 5px !important;
}